.button {
    -fx-font-size: 25px;
    -fx-padding: 15px 60px;
    -fx-background-color: #462d43;
    -fx-text-fill: #9daf71;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #371F2B;
}

.title-label {
    -fx-font-size: 35px;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 30, 0.5, 0, 0);
    -fx-text-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

.catch-shrimp-label {
    -fx-background-color: white;
    -fx-font-size: 20px;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.error-label {
    -fx-font-size: 20px;
    -fx-font-family: 'Helvetica';
    -fx-font-weight: bold;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 30, 0.5, 0, 0);
    -fx-text-fill: black;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.text {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}